
<div class="card justify-content-center col flex align-items-center">
    <p-splitter 
        [style]="{ height: 'auto', 'min-width': 'auto'} " 
        styleClass="mb-5 flex flex-wrap" 
        layout="vertical">

            <ng-template pTemplate>
                <div class="col flex flex-wrap align-items-center justify-content-center">
                    <!-- <button class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round"><-</button> -->
                    Puntuacion
                    <!-- <button class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round">-></button> -->
                </div>
            </ng-template>

            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                    <h4>Pregunta</h4>
                    {{ this.preguntaRecibida.pregunta }}
                </div>
            </ng-template>

            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center">
                    <div class="col flex flex-wrap justify-content-center" style="max-width: 500px">
                        <button class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 75px">OPCION</button>
                        <button class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 75px">OPCION</button>
                        <button class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 75px">OPCION</button>
                        <button class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 75px">OPCION</button>
                    </div>
                </div>
            </ng-template>
    </p-splitter>
</div>