.custom-menu-item {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.custom-menu-item:hover {
    background-color: #0000001f;
}

.selected-menu-item {
    background-color: #007bff;
    color: #ffffff;
}

.menu-item-icon {
    margin-right: 10px;
}

.menu-item-label {
    flex: 1;
}