<div class="grid">

    <div class="col-12 md:col-6 sm:col-6">
        <div class="text-center">
            <img src="../../../assets/images/foto.jpg" alt="" width="110" height="120" class="img-circle">
            <h3>Datos Personales</h3>
            <ul>
                <li>
                    <p>Nombre: Lucas Dure</p>
                </li>
                <li>
                    <p>Edad: 21 años</p>
                </li>
                <li>
                    <p>Fecha de nacimiento: 20/10/2002</p>
                </li>
                <li>
                    <p>Teléfono: 11 5337-4161</p>
                </li>
                <li>
                    <a href="https://github.com/lucas-380/" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 md:col-6 sm:col-6">
        <div class="text-center">
            <img src="../../../assets/images/logoJoyPlay.svg" alt="" width="110" height="120" class="img-circle">
            <h3>Idea de Juego</h3>
            <p>La idea era un juego en donde te ataquen oleadas de algún monstruo y para eliminarlos se tenga que clickear a dicho monstruo, con eso se irán registrando los puntos y obteniendo una puntuación máxima.</p>
        </div>
    </div>

</div> 