<header class="site-header">
    <div class="site-identity">
      <a routerLink="home"><img class="logo" src="../assets/images/logoJoyPlay.svg" alt="Sala-de-juegos" /></a>
    </div>  
    <nav class="site-navigation">
      <ul class="nav">
        <li class="centrar"><a routerLink="home"><span class="pi pi-home mr-2"></span>Home</a></li> 
        <li class="centrar"><a routerLink="quienSoy"><span class="pi pi-user mr-2"></span>Quien Soy</a></li>

            @if(auth.currentUser?.email){
                <li class="cuenta">
                    <p-button icon="pi pi-sign-out" label="cerrar sesion" (click)="CloseSession()" severity="danger"></p-button>
                </li>
            }@else{
                <li class="cuenta"><p-button routerLink="registro" label="Registrar"></p-button></li>
                <li class="cuenta"><app-login></app-login></li>
            }
      </ul>
    </nav>
</header>


<router-outlet />