<header class="site-header">
  
  @if(isSmallScreen){
    <div class="flex">
      <p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
      <p><span class="pi pi-star mr-2 ml-2"></span>Sala de juego</p>
    </div>
  }@else{
    <div class="site-identity">
      <a routerLink="home"><img class="logo" src="../assets/images/logoJoyPlay.svg" alt="Sala-de-juegos" /></a>
    </div>  
  }
  <nav class="site-navigation">
      <ul class="nav">
        <li class="centrar"><a routerLink="home"><span class="pi pi-home mr-2"></span>Home</a></li> 
        <li class="centrar"><a routerLink="quienSoy"><span class="pi pi-user mr-2"></span>Quien Soy</a></li>
            @if(auth.sesion){
                <li class="cuenta">
                    <p-button icon="pi pi-sign-out" label="cerrar sesion" (click)="CloseSession()" severity="danger"></p-button>
                </li>
            }@else{
                <li class="cuenta"><p-button routerLink="registro" label="Registrar"></p-button></li>
                <li class="cuenta"><app-login></app-login></li>
            }
      </ul>
    </nav>
</header>
@if (auth.sesion) {
    <app-chat></app-chat>
}


<div class="card flex justify-content-right sidebar-modificado">
    <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
        <ng-template pTemplate="headless">
            <div class="flex flex-column h-full">
                <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                    <span class="inline-flex align-items-center gap-2">
                        <img src="../assets/images/logoJoyPlay.svg" width="100" alt="logo">
                      <span class="font-semibold text-2xl text-primary">Sala de Juegos</span>
                  </span>
                  <span>
                      <p-button type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-2rem w-2rem"></p-button>
                  </span>
              </div>
              <div class="overflow-y-auto">
                  <ul class="list-none p-3 m-0">
                      <li>
                          <ul class="list-none p-0 m-0 overflow-hidden">
                              <li (click)="sidebarVisible = false" routerLink="home">
                                  <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                      <i class="pi pi-home mr-2"></i>
                                      <span class="font-medium">Home</span>
                                  </a>
                              </li>
                              <li (click)="sidebarVisible = false" routerLink="quienSoy">
                                  <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                      <i class="pi pi-user mr-2"></i>
                                      <span class="font-medium">Quien Soy</span>
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
              
              <div class="mt-auto">
                @if(auth.sesion){
                  <p-button icon="pi pi-sign-out" label="cerrar sesion" (click)="CloseSession()" severity="danger" class="ml-3"></p-button>
  
                }@else{
                    <p-button (click)="sidebarVisible = false" routerLink="registro" label="Registrar" class="m-1"></p-button>
                    <app-login></app-login>
                }
                  <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                  <a pRipple class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                      <span class="font-bold">Lucas Dure</span>
                  </a>
              </div>
          </div>
      </ng-template>
  </p-sidebar>
</div>

<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Aceptar" (click)="cd.accept()" class="w-8rem"></button>
                <button pButton label="Cancelar" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>

<router-outlet />