
<div class="wrapper">
	<h2><strong>Todo los juegos<span>( 4 )</span></strong></h2>
 
    <div class="cards flex justify-content-around flex-wrap">
        <figure class="card">
            <img src="../../../assets/images/ahorcado.png" class="p-3"/>
            <figcaption>Ahorcado</figcaption>
        </figure>

        <figure class="card">
            <img src="../../../assets/images/mayor-menor.png" class="p-3"/>
            <figcaption>Mayor o Menor</figcaption>
        </figure>

        <figure class="card">
            <img src="../../../assets/images/preguntados.png" class="p-3"/>
            <figcaption>Preguntados</figcaption>
        </figure>

        <figure class="card">
            <img src="" class="p-3"/>
            <figcaption>???</figcaption>
        </figure>

    </div>

    @if (auth.currentUser?.email){
        <h2><strong>Informacion de usuario</strong></h2>
        <h4>{{ auth.currentUser?.email }}</h4>
        <p>{{logsUser}}</p>
    }
</div>